.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:100px;
    }

    .waterInfo{
        width:40%;
    }
    
    .waterIntakeForm,
    .totalWater,
    .fillInForm{
        width:40%;
        margin-left:100px;
        // background-color:white;
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
          );
        padding:50px;
        border-radius: 100px;
        // box-shadow: 10px 10px $shadowcolor;
        // box-shadow: 10px 10px white;
    }

    .totalWater{
        display:flex;
        flex-direction: column;
    }
    
    .calculationForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
    }
    
    .formValues{
        display:flex;
        flex-direction: column;
        color:$shadowcolor;
        align-items: center;
        margin:10px;
    }

    .waterConsumed{
        display:flex;
        flex-direction: column;
        padding-top:10px;
        align-items: center;
        // display:none;
    }

    .submitContainer{
        padding-top: 30px;
        transition: all 0.3s ease;
    }

    .submitContainer input{
        width:150px;
        background-color: $shadowcolor;
        color:white;
        text-transform: uppercase;   
    }

    .submitContainer:hover{
        transform: scale(1.1);
    }

    .formDrinkwater{
        display:flex;
        color:$shadowcolor;
        flex-direction: column;
    }
    

    .options{
        display: flex;
        padding: 10px 0 10px;
        justify-content: center;
    }

    .options input{
        height:30px;
        width:100px;
        font-size:2rem;

    }

    input[type="radio"] {
        /* remove standard background appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* create custom radiobutton appearance */
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 6px;
        /* background-color only for content */
        background-clip: content-box;
        border: 2px solid #bbbbbb;
        background-color: #e7e6e7;
        border-radius: 50%;
      }
      
      /* appearance for checked radiobutton */
      input[type="radio"]:checked {
        background-color: #93e026;
      }
      


   .options input:hover{
        border: solid 2px $shadowcolor;
    }
    






