@media(max-width:930px){

    body{
        line-height: 1;
    }
    h1{
        font-size:5.6rem;
        font-weight: 500;
        margin-bottom: 5px;
       }

    h2{
        font-size:4rem;
        font-weight:300;
        width:80%;
        }
    
    p{
        font-size:4rem;
        font-weight: 300;
        }

    input{
        width: 160px;
        }
    
    .fillInForm{
        position:relative;
        right:50px;

    }
    .options input{
        width:50px;
        font-size:1rem;
    }

    label{
     font-size:1.5rem;   
    }


  
}

@media(max-width:600px){
    h1{
        font-size:4.5rem;
        font-weight: 500;
        margin-bottom: 0;
       }

    h2{
        font-size:3.5rem;
        font-weight:300;
        width:80%;
        padding-bottom:10px;
        }
    
    p{
        font-size:3.0rem;
        font-weight: 300;
        }

}


@media(max-width:560px){

    .results{
        padding-top:0px;
        padding:0px;
    }

    .display , 
    .error{
        position:absolute;
        top:150px;
        left:0;
        right:0;
    }

    .display p, 
    .error p{
        font-size:4rem;
    }
    .container{
        padding-top:50px;
    }
    .waterInfo{
        width:100%;
        text-align: center;
    }
    h1{
        font-size:4.3rem;
        font-weight: 500;
        margin-bottom: 0;
       }

    h2{
        font-size:3.3rem;
        font-weight:300;
        width:80%;
        }
    
    p{
        font-size:3.0rem;
        font-weight: 300;
        }
    
    input{
        width: 130px;
        }
    
    .options input{
        width:30px;
        font-size:0.7rem;
        }

    .submitContainer input{
        width:100px;

    }

}

@media(max-width:520px){
    h1{
        font-size:3.8rem;
    }

    h2{
        font-size:2.5rem;
    }

    p{
        font-size:2rem;
        font-weight: 300;
       }

}


@media(max-width:480px){
    body{
        font-size:1.2rem;
    }

    h1{
        font-size:3rem;
    }

    h2{
        font-size:1.9rem;
    }

    p{
        font-size:1.8rem;
        font-weight: 300;
       }

    input{
        width: 100px;
    }

     .waterInfo, 
     .fillInForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
}

@media(max-width:360px){
    body{
        font-size:1rem;
    }

    h1{
        font-size:2.3rem;
    }

    h2{
        font-size:1.1rem;
    }


    input{
        width: 100px;
    }

}